<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Sign In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                    <ion-item>
                        <ion-input type="text" placeholder="Email" [(ngModel)]="user.email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
                    </ion-item>
                </div>

                <div padding>
                    <ion-button size="default" expand="block" (click)="login()">Sign In</ion-button>
                </div>

                <div style="text-align:center; align-items:center; align-content:center">
                    <h4>OR</h4>
                </div>

                <div padding>
                    <ion-button size="default" expand="block" (click)="retailer()" color="danger">Retailer / Customer</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
